/**
* Variables
* --------------------------------------------------
*/

$site-name:                        site-inicioca;
$site-slider:                      inicio_home_slider;
$path-site:                        inicio-ca;
$images-path:                      "http://52.37.84.217/#{$path-site}/img/";

 // Colors
 // -------------------------------
$site-bg:                         #E9F7F7 !default;

//Measures
// -------------------------------
$main-header-height:              132px;
